@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.v7 p {
  background-position: left;
  background-size: 0% 100%;
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  font-family: 'Poppins', sans-serif;
    text-decoration: none;
  font-size: 50px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;
}
.v7:hover p {
  background-position: right;
  background-size: 100% 100%;
  color:rgb(0, 0, 0)
}


.v8 p {
    margin-top: 8%;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    top: 1%;
    font-size: 50px;
    display: flex;
    flex-direction: column;  
    align-items: center;
    text-align: center;
  background-position: left;
  background-size: 0% 100%;
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  padding-bottom: 4px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.v8:hover p {
  background-size: 100% 100%;
  color:black;
}

.v5 p {
  margin-top: 8%;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  top: 1%;
  font-size: 50px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  text-align: center;
  background-position: center left;
  background-size: 100% 0px;
  background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
  padding-bottom: 0px;
}
.v5:hover p {
  background-size: 100% 100%;
  color: rgb(0, 0, 0);
  background-image: linear-gradient(to right, #ffffff, #ffffff);
}




