@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.OurTeam{
    
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.title{
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    margin: 10px 0;
    position: relative;
}



.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    
    max-width: 300px;
    transition: all 0.3s;
    border-radius: 25px;
}

.member:hover{
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.132);
    transform: translateY(-20px);

}

.member img{
    display: block;
    width: 150px; height: 150px;
    object-fit: cover;
    border:4px solid #ffffff;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2{
    text-transform: uppercase;
    font-size: 24px;
    color: #ffffff;
    margin: 15px 0;
}

.member p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.6;
}